html,
body {
	margin: 3em 10%;
	color: #111;
}

hr {
	border: 0;
	border-bottom: 3px solid #ccc;
}

#content h1 {
	font-size: 100px;
}

input[type=button] {
	border-radius: 2px;
	border: 2px solid #ccc;
	color: #111;
	background: #fff;
	font-size: 1em;
}

input[type=button]:active {
	outline: none;
}